<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="entrar.css">
</head>
<body>
    
    <div class="container">

        <form action="#" class="formulario">
            <h1 class="title">Recuperar senha</h1>

            <div class="input-field b-bottom">
                <input type="text" name="user_data" id="email" placeholder="Seu email *" required>
                <i class="fas fa-at"></i>
            </div>

            <div class="input-field">
                <button>Submeter</button>
            </div>

        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>